/* estilos generales para todos los dispositivos*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
   font-family: 'Roboto', sans-serif;
}

/* Estilos de Header*/

header .navbar{
    background-color: #000000;
    color: whitesmoke;
    border-bottom: 1px solid #333333;
}

.navbar-brand{
    font-size: x-large;
    font-weight: bold;
    color: whitesmoke;
}

.nav-link{
    color: whitesmoke;
}

.ldr{
    font-size:x-large;
    font-weight: bold;
    color: #edde0f;
}

/* propiedades del Body*/

body{
    background-color: #000000;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    animation:animate__pulse;
    animation-duration: 4.5s;
    animation-iteration-count:infinite;
}

/* propiedades de los textos*/

main h1{
    margin-bottom: 1rem;
    text-align: center;
    color: #e5b119;
}

.bajada{
    color: #e5b119;
    text-align: center;
    font-size: 2rem;
    font-family:'Kalam', cursive;
}

/* Estilos Home HTML*/

main .logo{
    display: flex;
    justify-content: center;
}

main .logo img{
    width: 90%;
}

/* Estilos de Footer */

footer{
    margin-top: 40px;
    height: 10%;
}

footer p{
    text-align: center;
    color: whitesmoke;
}


/* propiedades de media queries Tablet*/
@media screen and (min-width:600px){
    main .home{
        display: grid;
        grid-template-columns: 1;
        align-items: center;
    }
}

/* propiedades de media queries Desktop*/

@media screen and (min-width:1024px){
    main .home{
        display: grid;
        grid-template-columns: 1;
        align-items: center;
        height: 100%;
    }
}

main h1{
    grid-area: h1;
}

main .logo{
    grid-area: img;
}

main .botones{
    grid-area: botones;
}

/* Estilos Quienes Somos HTML*/

/*
section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
*/

.perfiles{
    position: relative;
    display: inline-block;
}

.foto-perfil-marce{
    perspective: 1000px;
}

.foto-perfil-marce:hover .texto-marce{
    opacity: 1;
}

.foto-perfil-marce:hover img{
    transform: rotateY(180deg);
    opacity: 0.2;
    filter: blur(10px);
    filter: grayscale(60%);
}

.texto-marce{
    position: absolute;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0px 15px 25px rgba(59, 58, 58, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
    background-color: rgba(55, 54, 54, 0.7);
    color: honeydew;
}


.foto-perfil-juane{
    perspective: 1000px;
}

.foto-perfil-juane:hover .texto-juane{
    opacity: 1;
}

.foto-perfil-juane:hover img{
    transform: rotateY(180deg);
    opacity: 0.2;
    filter: blur(10px);
    filter: grayscale(60%);
}

.texto-juane{
    position: absolute;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0px 15px 25px rgba(59, 58, 58, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
    background-color: rgba(55, 54, 54, 0.7);
    color: honeydew;
}









/*
.card-mia{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: whitesmoke;
    margin: 1rem;
    padding: 1rem;
    border-radius: 2%;
}

.card-mia h2{
    margin-bottom: 1rem;
}
*/

/* Media querie Tablet */

@media screen and (min-width:600px){
    main .quienes{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 8, 100%;
    }      
}

/* Media querie Desktop */

@media screen and (min-width:1024px){
     main .quienes .perfiles{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2, 50%;
    }      
}


/* Estilos de Galeria html */

.galeria{
    text-align: center;
    justify-content: center;

}

/* propiedades de los botones*/

main .botones{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

main .botones .boton-fotos{
    color: whitesmoke;
    background-color: #e5b119;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 20%;
}

main .botones .boton-video{
    color: whitesmoke;
    background-color: tomato;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 20%;
}

/* Estilos Nuestra Historia HTML*/

.nuestra-historia{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Estilos de Contacto HTML*/

.formulario{
    background-color: #000000;
    color: whitesmoke;
    padding: 10px;
    margin: 1%;
}
