/* Estilos del Main */

// Nesting 

main{
    background-color: $color-background;
    h1{
        margin-bottom: 1rem;
        text-align: center;
        color: $color-principal;
        font-family:'Kalam', cursive;
        padding: 10px;}
    h2{
        font-size: 2rem;
        color: $color-letra-chica;
        margin-bottom: 40px;
        font-family:'Kalam', cursive;
        text-align: center;
    }
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        animation:animate__pulse;
        animation-duration: 4.5s;
        animation-iteration-count:infinite;
    }

    .bajada{
        text-align: center;
        background-color: $color-background;
        color: $color-principal;
        font-family:'Kalam', cursive;
        font-size: 2.5rem;
        padding: 2rem;
        padding-bottom: 5rem;     
    }
